@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/swiper/swiper-bundle.min.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 85px;
  }
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(/src/fonts/montserrat-v25-latin-regular.woff);
  src: local(""), url("/src/fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("/src/fonts/montserrat-v25-latin-regular.woff") format("woff");
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(/src/fonts/montserrat-v25-latin-600.woff);
  src: local(""), url("/src/fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("/src/fonts/montserrat-v25-latin-500.woff") format("woff");
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(/src/fonts/montserrat-v25-latin-600.woff);
  src: local(""), url("/src/fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("/src/fonts/montserrat-v25-latin-600.woff") format("woff");
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/montserrat-v25-latin-700.woff);
  src: local(""), url("/src/fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("/src/fonts/montserrat-v25-latin-700.woff") format("woff");
}
/* times new roman-400 - latin */
@font-face {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  src: url(/src/fonts/TimesNewRoman.woff);
  src: local(""), url("/src/fonts/TimesNewRoman.woff2") format("woff2"), url("/src/fonts/TimesNewRoman.woff") format("woff");
}
/* times new roman-700 - latin */
@font-face {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/TimesNewRoman-Bold.woff);
  src: local(""), url("/src/fonts/TimesNewRoman-Bold.woff2") format("woff2"), url("/src/fonts/TimesNewRoman-Bold.woff") format("woff");
}
/* Film P3-700 - latin */
@font-face {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/FilmP3Bold.woff);
  src: local(""), url("/src/fonts/FilmP3Bold.woff") format("woff");
}
:root {
  --color-primary: #7a7a7a;
  --color-secondary: #ffffff;
  --color-tertiary: #000000;
  --color-accent: #f3c653;
  --color-accent-secondary: #c79002;
  --color-address-header: #e5e5e5;
  --color-brand: #494848;
  --color-form-placeholder: #808080;
  --color-subtitle: #b4b4b4;
  --bg-primary: #fffdee;
  --bg-secondary: #f0ecd6;
  --bg-footer: #0e0c07;
  --bg-button: rgba(0, 0, 0, 0.4);
  --bg-section: rgba(0, 0, 0, 0.65);
  --color-servicetext: #BABABA;
}

.logo {
  color: var(--color-secondary);
  font-family: "Film P3", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 1.0833333333;
}
@media (min-width: 1024px) {
  .logo {
    font-size: 40px;
  }
}

.header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 100;
}

.header-container {
  padding-top: 16px;
}
@media (min-width: 1024px) {
  .header-container {
    padding-top: 24px;
  }
}
@media (min-width: 1280px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  gap: 20px;
  padding-left: 0;
  padding-top: 0;
}
@media (min-width: 1024px) {
  .header__list {
    gap: 72px;
  }
}

.header__item {
  display: flex;
  gap: 6px;
}
@media (min-width: 1024px) {
  .header__item {
    gap: 32px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  color: var(--color-accent);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media (min-width: 1024px) {
  .header__link {
    font-size: 20px;
    line-height: 1.2;
  }
}

.header__contact {
  padding: 8px;
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2142857143;
  border: 1px solid var(--color-accent);
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .header__contact {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header__contact--mobile {
    display: none;
  }
}

.header__icon {
  fill: var(--color-accent);
}
@media (min-width: 1024px) {
  .header__icon {
    margin-right: 4px;
  }
}

.social-networks-header {
  display: none;
}
@media (min-width: 1280px) {
  .social-networks-header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .social-networks-header .social-networks-header__item:not(:last-child) {
    margin: 0 20px 0 0;
  }
  .social-networks-header .social-networks-header__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-networks-header .social-networks-header__icon {
    fill: rgba(243, 198, 83, 0.7);
  }
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
}
.modal-backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal {
  visibility: visible;
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 60px 15px;
  max-width: 414px;
  width: 100%;
  height: 100%;
  max-height: 780px;
  overflow-y: auto;
  transform: translate(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  background-color: var(--bg-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .modal {
    max-width: 712px;
    padding: 60px;
    max-height: 638px;
  }
}
.modal__title {
  display: block;
  margin-bottom: 40px;
  margin-top: 0;
  color: var(--color-tertiary);
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.05em;
}
@media (min-width: 1024px) {
  .modal__title {
    font-size: 32px;
    line-height: 1.156;
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  padding: 0;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icon-close {
  fill: var(--color-tertiary);
}

@media screen and (min-width: 1024px) {
  .modal-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .modal-form__field:nth-child(2n+1) {
    margin-left: 16px;
  }
}
.modal-form__input, .modal-form__select {
  margin-bottom: 8px;
  padding: 16px 12px;
  max-width: 384px;
  width: 100%;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--color-form-placeholder);
  border: 1px solid #c79002;
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .modal-form__input, .modal-form__select {
    height: 64px;
    width: 288px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.modal-form__label {
  display: block;
  padding-left: 12px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #c79002;
}
@media screen and (min-width: 1024px) {
  .modal-form__label {
    max-width: 262px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.form-price__category {
  display: block;
  font-family: "Times New Roman", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.05em;
  color: var(--color-form-placeholder);
  margin-bottom: 28px;
}

.hero-container {
  position: relative;
}
@media (max-width: 1023px) {
  .hero-container {
    max-width: 414px;
    min-height: 740px;
    padding-top: 64px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .hero-container {
    width: 1024px;
    height: 720px;
    padding-top: 188px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .hero-container {
    width: 1280px;
    height: 720px;
    padding-top: 164px;
    padding-bottom: 64px;
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-homepage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-homepage@2x.jpg);
  }
}
@media (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-homepage-tablet.jpg);
  }
}
@media (min-width: 1024px) and (min-device-pixel-ratio: 2), (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1024px) and (min-resolution: 192dpi), (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-homepage-tablet@2x.jpg);
  }
}
@media (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-homepage-desktop.jpg);
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-homepage-desktop@2x.jpg);
  }
}
.hero__address {
  position: absolute;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 70px;
  margin-right: 0;
  margin-left: auto;
  padding: 8px 7px 9px 34px;
  max-width: 210px;
  height: 47px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media (min-width: 1024px) {
  .hero__address {
    position: absolute;
    top: 610px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .hero__address {
    left: 85px;
  }
}
.hero__address-link {
  display: flex;
  gap: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--color-address-header);
}
.hero__icon {
  position: absolute;
  top: 14px;
  left: 6px;
  fill: var(--color-accent);
}
.hero__title {
  margin-bottom: 24px;
  text-align: center;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.073;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--color-secondary);
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 128px;
    line-height: 1.078;
    margin-bottom: 16px;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin-bottom: 32px;
  }
}
.hero__subtitle {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}
@media (min-width: 1024px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 56px;
  }
}
@media (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 64px;
  }
}
.hero__moto {
  margin-top: 0;
  margin-bottom: 113px;
  text-align: center;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.156;
  letter-spacing: 0.05em;
  color: var(--color-secondary);
}
@media (min-width: 1024px) {
  .hero__moto {
    font-size: 36px;
    line-height: 1.139;
    margin-bottom: 144px;
  }
}

.hero-buttons-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 58px;
  padding-left: 0;
}
@media (min-width: 1024px) {
  .hero-buttons-list {
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    margin: 0 0 25px 0;
  }
}
@media (min-width: 1280px) {
  .hero-buttons-list {
    right: 85px;
    gap: 60px;
  }
}

.hero-socials {
  position: absolute;
  left: 16px;
  bottom: 21px;
  display: flex;
  gap: 20px;
}
.hero-socials__icon {
  fill: var(--color-accent);
}
@media (min-width: 1024px) {
  .hero-socials {
    left: 48px;
    bottom: 16px;
  }
}
@media (min-width: 1280px) {
  .hero-socials {
    display: none;
  }
}

.button {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #F3C653;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #FFFFFF;
  border-color: #F3C653;
}

.hero-button {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 236px;
}
@media (min-width: 1024px) {
  .hero-button {
    width: 236px;
  }
}
@media (min-width: 1280px) {
  .hero-button {
    width: 258px;
  }
}

.section-button {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 236px;
  background-color: #000000;
}

.button-modal {
  display: block;
  padding: 20px auto;
  width: 100%;
  min-height: 64px;
  height: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.208;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #F3C653;
  border-radius: 2px;
  cursor: pointer;
}
.button-modal:hover, .button-modal:focus {
  background-color: #F3C653;
  border-color: #F3C653;
  color: #000000;
}

.section-reservation {
  padding: 18px 117px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.208;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #F3C653;
  border-radius: 25px;
  cursor: pointer;
}
.section-reservation:hover, .section-reservation:focus {
  background-color: #F3C653;
  border-color: #F3C653;
  color: #000000;
}

.back-to-rooms {
  letter-spacing: 0.02em;
  color: #c79002;
  align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  display: flex;
}

.icon-right {
  fill: currentColor;
  margin-left: 12px;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 1280px) {
  .social-networks {
    display: none;
  }
}

.social-networks__item:not(:last-child) {
  margin: 0 20px 0 0;
}

.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-networks__icon {
  fill: rgba(243, 198, 83, 0.7);
}

.feature {
  background-color: var(--bg-primary);
  padding-bottom: 20px;
  padding-top: 16px;
}
@media screen and (min-width: 1024px) {
  .feature {
    padding-top: 120px;
    padding-bottom: 32px;
  }
}
.feature__text {
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-subtitle);
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .feature__text {
    font-size: 32px;
    line-height: 1.15625;
    margin-bottom: 4px;
  }
}
.feature__title {
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--color-brand);
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .feature__title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
  }
}
.feature__text-description {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  max-width: 258px;
}
@media screen and (min-width: 1024px) {
  .feature__text-description {
    font-size: 16px;
    line-height: 1.25;
    max-width: 439px;
  }
}
@media screen and (min-width: 1280px) {
  .feature__text-description {
    max-width: 518px;
  }
}
.feature--flex {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .feature--flex {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .feature .container {
    position: relative;
  }
}
.feature__img-restaurant {
  transform: translateX(57%);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .feature__img-restaurant {
    position: absolute;
    top: -152px;
    right: 33.5%;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1280px) {
  .feature__img-restaurant {
    right: 34.5%;
  }
}
.feature__hall {
  margin-right: 20px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .feature__hall {
    margin-right: 48px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1280px) {
  .feature__hall {
    margin-right: 32px;
  }
}
.feature__text-hall {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-accent-secondary);
  max-width: 163px;
}
@media screen and (min-width: 1024px) {
  .feature__text-hall {
    font-size: 16px;
    line-height: 1.25;
    max-width: 312px;
  }
}
.feature__flex-container {
  display: flex;
}
@media screen and (max-width: 1023px) {
  .feature__flex-container {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .feature__flex-container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1023px) {
  .flex-text {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .flex-text {
    margin-bottom: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .flex-text {
    margin-bottom: 162px;
  }
}

@media screen and (min-width: 1024px) {
  .slider--feature {
    padding-left: 496px;
    transform: translateY(-28px);
  }
}
@media screen and (min-width: 1280px) {
  .slider--feature {
    padding-left: 570px;
    transform: translateY(-147px);
  }
}

.slider-section {
  position: relative;
}
.slider-section .swiper {
  margin: 0;
  padding-bottom: 52px;
  max-width: 415px;
}
@media (max-width: 1023px) {
  .slider-section .swiper {
    padding-left: 70px;
  }
}
@media (min-width: 1024px) {
  .slider-section .swiper {
    max-width: 428px;
    padding-bottom: 64px;
  }
}
@media (min-width: 1280px) {
  .slider-section .swiper {
    max-width: 548px;
  }
}
.slider-section .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.5s;
}
.slider-section .swiper-slide.swiper-slide-active {
  max-width: 245px;
}
@media (min-width: 1024px) {
  .slider-section .swiper-slide.swiper-slide-active {
    width: 194px !important;
  }
}
@media (min-width: 1280px) {
  .slider-section .swiper-slide.swiper-slide-active {
    width: 254px !important;
  }
}
@media (max-width: 1023px) {
  .slider-section .swiper-slide.swiper-slide-next {
    max-width: 17.3%;
    min-height: 245px !important;
    opacity: 0.6;
  }
}
@media (min-width: 1024px) {
  .slider-section .swiper-slide.swiper-slide-next {
    width: 194px !important;
  }
}
@media (min-width: 1280px) {
  .slider-section .swiper-slide.swiper-slide-next {
    width: 254px !important;
  }
}

.swiper-image {
  min-height: 245px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .swiper-image {
    min-height: 194px;
  }
}
@media (min-width: 1280px) {
  .swiper-image {
    min-height: 254px !important;
  }
}

.swiper-btns {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: transparent;
  border: none;
}
@media (max-width: 1023px) {
  .swiper-btns {
    right: 17px;
  }
}

.swiper-btn-next, .swiper-btn-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 40px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 900;
  font-size: 39px;
  line-height: 1;
  border: none;
  color: var(--color-tertiary);
  background-color: transparent;
}

.swiper-button-disabled {
  opacity: 0.6;
}

.servise-section {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 0) {
  .servise-section {
    max-width: 414px;
    height: 735px;
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant.jpg);
  }
}
@media screen and (min-width: 0) and (min-device-pixel-ratio: 2), screen and (min-width: 0) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 0) and (min-resolution: 192dpi), screen and (min-width: 0) and (min-resolution: 2dppx) {
  .servise-section {
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant@2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .servise-section {
    max-width: 1024px;
    height: 620px;
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant-tablet.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .servise-section {
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .servise-section {
    max-width: 1280px;
    height: 620px;
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .servise-section {
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-restaurant-desktop@2x.jpg);
  }
}
@media screen and (min-width: 0) {
  .servise-section__container {
    height: 735px;
    padding: 24px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .servise-section__container {
    margin: 0 auto;
    height: 620px;
    padding: 48px 0 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .servise-section__container {
    padding: 48 px 52px 96px;
  }
}
@media screen and (min-width: 0) {
  .servise-section__features-container {
    margin-left: 140px;
  }
}
@media screen and (min-width: 1024px) {
  .servise-section__features-container {
    margin-left: 138px;
    margin-bottom: 40px;
  }
}
.servise-section__head {
  display: block;
  margin: 0;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--color-secondary);
}
@media screen and (min-width: 1024px) {
  .servise-section__head {
    font-size: 64px;
    line-height: 1.078125;
  }
}
.servise-section__business-type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}
@media screen and (min-width: 0) {
  .servise-section__business-type {
    margin: 12px 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .servise-section__business-type {
    margin: 16px 0 8px;
    font-size: 24px;
    line-height: 1.2083333333;
  }
}
.servise-section__text {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-servicetext);
}
@media screen and (min-width: 0) {
  .servise-section__text {
    max-width: 259px;
  }
}
@media screen and (min-width: 1024px) {
  .servise-section__text {
    max-width: 610px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.servise-section__pict-butt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 0) {
  .servise-section__pict-butt-container {
    gap: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .servise-section__pict-butt-container {
    width: 1024px;
    padding: 0 52px 0 85px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
    gap: 29px;
  }
}
@media screen and (min-width: 1280px) {
  .servise-section__pict-butt-container {
    width: 1280px;
    gap: 32px;
  }
}
.servise-section__pictures-container {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .servise-section__pictures-container {
    width: 414px;
  }
}
@media screen and (min-width: 1280px) {
  .servise-section__pictures-container {
    width: 1280px;
  }
}
@media screen and (min-width: 1280px) {
  .servise-section__pictures-container {
    gap: 86px;
  }
}
.servise-section__dish-2 {
  height: 270px;
}
@media screen and (max-width: 1024px) {
  .servise-section__dish-3 {
    display: none;
  }
}
.servise-section__arrows-container {
  position: absolute;
  left: 40px;
  bottom: -46px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.servise-section__arrow {
  margin: 0;
  padding: 0;
  fill: var(--color-white);
}
.servise-section__buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.servise-section__button {
  width: 236px;
  height: 48px;
  border: 2px solid var(--color-secondary);
  border-radius: 25px;
  background-color: var(--background-button);
  color: var(--color-accent);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

.feature-hotel {
  background-color: var(--bg-primary);
}
.feature-hotel__text {
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-subtitle);
  margin-top: 18px;
  margin-bottom: 12px;
}
.feature-hotel__title {
  font-family: "Film P3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--color-brand);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.feature-hotel__text-description {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  max-width: 258px;
}
.feature-hotel--flex {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.feature-hotel__hall {
  margin-right: 20px;
}
.feature-hotel__img-hall {
  width: 200px;
  height: 278px;
}
.feature-hotel__text-hall {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-accent-secondary);
  width: 163px;
}
.feature-hotel__flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-hotel-text {
  text-align: right;
  margin-bottom: 28px;
  transform: translateX(49%);
}

.hotel-servise {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 0) {
  .hotel-servise {
    max-width: 414px;
    height: 735px;
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-hotel.jpg);
  }
}
@media screen and (min-width: 0) and (min-device-pixel-ratio: 2), screen and (min-width: 0) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 0) and (min-resolution: 192dpi), screen and (min-width: 0) and (min-resolution: 2dppx) {
  .hotel-servise {
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-hotel@2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hotel-servise {
    max-width: 1024px;
    height: 620px;
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-hotel-tablet.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hotel-servise {
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-hotel-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hotel-servise {
    max-width: 1280px;
    height: 620px;
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-hotel-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hotel-servise {
    background-image: linear-gradient(to right, var(--bg-section), var(--bg-section)), url(../images/background/background-hotel-desktop@2x.jpg);
  }
}
@media screen and (min-width: 0) {
  .hotel-servise__container {
    height: 735px;
    padding: 24px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-servise__container {
    margin: 0 auto;
    height: 620px;
    padding: 48px 0 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 0) {
  .hotel-servise__features-container {
    margin-right: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-servise__features-container {
    margin-right: 231px;
  }
}
.hotel-servise__head {
  display: block;
  margin-right: -8px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--color-secondary);
}
@media screen and (min-width: 1024px) {
  .hotel-servise__head {
    margin-right: -20px;
    font-size: 64px;
    line-height: 1.078125;
  }
}
.hotel-servise__business-type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}
@media screen and (min-width: 0) {
  .hotel-servise__business-type {
    margin: 12px 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-servise__business-type {
    margin: 16px 0 8px;
    font-size: 24px;
    line-height: 1.2083333333;
  }
}
.hotel-servise__text {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-servicetext);
}
@media screen and (min-width: 0) {
  .hotel-servise__text {
    max-width: 243px;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-servise__text {
    max-width: 549px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.hotel-servise__pict-butt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 0) {
  .hotel-servise__pict-butt-container {
    gap: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-servise__pict-butt-container {
    width: 1024px;
    padding: 0 47px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel-servise__pict-butt-container {
    width: 1280px;
    padding: 0 52px 0 85px;
  }
}
.hotel-servise__pictures-container {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
  .hotel-servise__pictures-container {
    width: 414px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel-servise__pictures-container {
    flex-direction: row-reverse;
    gap: 86px;
  }
}
@media screen and (max-width: 1024px) {
  .hotel-servise__pict3 {
    display: none;
  }
}
.hotel-servise__arrows-container {
  position: absolute;
  left: 40px;
  bottom: -46px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.hotel-servise__arrow {
  margin: 0;
  padding: 0;
  fill: var(--color-white);
}
.hotel-servise__buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.hotel-servise__button {
  width: 236px;
  height: 48px;
  border: 2px solid var(--color-secondary);
  border-radius: 25px;
  background-color: var(--background-button);
  color: var(--color-accent);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

.contact {
  min-width: 414px;
  padding-top: 36px;
  padding-bottom: 32px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-primary);
}
@media screen and (min-width: 1024px) {
  .contact {
    padding-top: 56px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    padding-bottom: 73px;
  }
}
@media screen and (min-width: 1024px) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@-webkit-keyframes changeColor {
  0% {
    color: var(--color-brand);
  }
  50% {
    color: var(--color-accent-secondary);
  }
  100% {
    color: var(--color-brand);
  }
}
@keyframes changeColor {
  0% {
    color: var(--color-brand);
  }
  50% {
    color: var(--color-accent-secondary);
  }
  100% {
    color: var(--color-brand);
  }
}
.contact__title {
  font-family: "Film P3";
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--color-brand);
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.contact__title:hover, .contact__title:focus {
  color: var(--color-accent-secondary);
}
@media screen and (min-width: 1024px) {
  .contact__title {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__title {
    margin-bottom: 16px;
  }
}
.contact__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .contact__text {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__text {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}
.contact__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .contact__list {
    margin-bottom: 0;
  }
}
.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.contact__item:first-child {
  -moz-column-gap: 34px;
       column-gap: 34px;
}
@media screen and (min-width: 1024px) {
  .contact__item:first-child {
    margin-bottom: 24px;
  }
}
.contact__item:nth-child(2) {
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .contact__item:nth-child(2) {
    margin-bottom: 48px;
  }
}
.contact__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .contact__item:last-child {
    width: 285px;
    height: 56px;
  }
}
.contact__item:last-child > p {
  display: none;
}
@media screen and (min-width: 1024px) {
  .contact__item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.02em;
  color: var(--color-accent-secondary);
}
@media screen and (min-width: 1024px) {
  .contact__label {
    margin-bottom: 8px;
  }
}
.contact__list-phone-f {
  list-style: none;
  padding-left: 0;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.contact__list-phone-f > li:last-child {
  display: none;
}
.contact__list-phone {
  list-style: none;
  padding-left: 0;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.contact__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  height: 40px;
  background-color: var(--color-secondary);
  border: 0.5px solid var(--color-accent);
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
}
@media screen and (min-width: 1024px) {
  .contact__box {
    width: 264px;
  }
}
.contact__box:hover, .contact__box:focus {
  border-color: var(--color-accent-secondary);
}
.contact__box-s {
  width: 144px;
}
.contact__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  color: var(--color-brand);
  text-decoration: none;
}
.contact__phone:hover, .contact__phone:focus {
  color: var(--color-accent-secondary);
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.contact__icon-c {
  fill: var(--color-accent-secondary);
}
.contact__address {
  width: 260px;
  height: 76px;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: var(--color-secondary);
  border: 0.5px solid var(--color-accent);
  border-radius: 2px;
  padding-left: 10px;
}
.contact__address:hover, .contact__addressfocus {
  border-color: var(--color-accent-secondary);
  background-color: antiquewhite;
}
.contact__address:hover, .contact__address:focus ~ .contact__address__address-plat > .contact__address__address-text {
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: aqua;
}
@media screen and (min-width: 1024px) {
  .contact__address {
    width: 285px;
    height: 56px;
    margin-left: 0;
  }
}
.contact__address-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  font-style: normal;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: var(--color-brand);
  display: flex;
  flex-direction: column;
}
.contact__address-dep {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contact__address-dep {
    flex-direction: row;
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
}
.contact__img {
  width: 384px;
  height: 220px;
  background-color: var(--bg-primary);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid var(--color-servicetext);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  background-image: url(/src/images/location/location.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .contact__img {
    background-image: url(/src/images/location/location@2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .contact__img {
    width: 535px;
    height: 412px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--bg-primary);
    border: 1px solid var(--color-servicetext);
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-image: url(/src/images/location/location-tab.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 2dppx), screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .contact__img {
    background-image: url(/src/images/location/location-tab@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .contact__img {
    width: 634px;
    height: 412px;
    background-image: url(/src/images/location/location-desk.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 2dppx), screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .contact__img {
    background-image: url(/src/images/location/location-desk@2x.jpg);
  }
}

.footer {
  background-color: var(--bg-footer);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .footer__container {
    justify-content: space-around;
  }
}

.wrap {
  padding-top: 98px;
  padding-bottom: 99px;
  margin-right: 85px;
  margin-left: 60px;
}

.wrap__logo {
  color: var(--color-accent);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  display: block;
  width: 127px;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  .wrap__logo {
    font-size: 64px;
    line-height: 1.078125;
  }
}

.guide {
  margin-bottom: 32px;
}

.guide__list:not(:last-child) {
  margin-bottom: 16px;
}

.guide__link {
  font-family: "Montserrat", "Helvetica Neue", "Roboto", "Verdana", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.wrap-bottom {
  margin-top: 40px;
  margin-bottom: 40px;
}

.social-networks-hidden {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .social-networks-hidden {
    display: none;
  }
}

.social-networks-tablet {
  display: none;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (min-width: 1024px) {
  .social-networks-tablet {
    display: block;
  }
}

.social-networks-tablet__item:not(:last-child) {
  margin-bottom: 10px;
}

.social-networks-tablet__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  width: 144px;
  letter-spacing: 0.02em;
  color: var(--color-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 0.5px solid var(--color-accent);
  border-radius: 2px;
  padding: 8px;
}

.social-networks-tablet__icon {
  fill: var(--color-accent);
}/*# sourceMappingURL=index.css.map */